*.cache
*.caches
*.ckpt
*.deb
*.egg
*.egg-info/
*.lock
*.pt
*.pth
*.py[cod]
*.rar
*.so
*.tar
*.xlsx
*.zip
*~
.idea/
.sync/
Icon?
__pycache__/
_gsdata_/
archive/
build/
dist/
/data/
/project/*/data/
/project/*/run/
/project/tss_old
/zoo/*/
